/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL  */

header{
    background-color: black;
    height: 50px;
}

nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    font-size: 12px;
}

main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

footer{
    background-color: blue; /**/
    height: 75px;
    display: flex;
    justify-content: space-between;
}

img{
    width: 100%;
}
/* HEADER  */
.sp-view{
    background-color: grey; 
    padding: 8px;
    border-radius: 10px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
}

/* MAIN  */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.card{
    position: relative;
    background-color: aqua; /**/
    width: 100px; /**/
    height: 100px; /**/
    border: 1px solid black; /**/
    margin: 5px 0;
    width: calc( ( 100% / 7 ) - 10px );
}

.card img{
    height: 100%;
    width: 100%;
}

.micro{
    position: absolute;
    bottom: 0;
    left: 0;
    

}

/* FOOTER  */
.audio-video{
    background-color: yellow;
    width: 120px;
    height: 75px;
    padding: 0 10px;
    display: flex;
}

.menu-footer{
    background-color: cadetblue;
    width: 300px;
    height: 75px;
}

.btn-footer{
    background-color: orange;
    width: 120px;
    height: 75;
}